.snowContainer { width: 100%; height: 100%; position: absolute; top: 0; left: 10; z-index: 100;}
#snow {width: 100%; height: 100%; background-image: url("https://yraaa.ru/_pu/27/15825154.png"), url("https://yraaa.ru/_pu/27/89961317.png"), url("https://yraaa.ru/_pu/27/21791255.png"); -webkit-animation: snow 20s linear infinite;-moz-animation: snow 20s linear infinite;-ms-animation: snow 20s linear infinite;animation: snow 20s linear infinite;}
@keyframes snow {0% {background-position: 0px 0px, 0px 0px, 0px 0px;} 100% {background-position: 5000px 10000px, 4000px 4000px, 3000px 3000px;}}
@-moz-keyframes snow {0% {background-position: 0px 0px, 0px 0px, 0px 0px;} 100% {background-position: 5000px 10000px, 4000px 4000px, 3000px 3000px;}}
@-webkit-keyframes snow {0% {background-position: 0px 0px, 0px 0px, 0px 0px;} 100% {background-position: 5000px 10000px, 4000px 4000px, 3000px 300p0x;}}
@-ms-keyframes snow {0% {background-position: 0px 0px, 0px 0px, 0px 0px;} 100% {background-position: 5000px 10000px, 4000px 4000px, 3000px 300p0x;}}
body{
    background-color: rgb(0, 149, 255);
    font-size: 1.5em;
    color: rgb(89, 222, 255);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0);
}
.wrapper {
    max-width: 650px;
    margin: 50px auto 15px auto;
}

.h1{
    text-align: center;
    color: rgba(255, 0, 0, 0.815);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 0, 0); 
}

.wr_img{
    width: 100%;
}


body {
    background: black url(https://lh3.googleusercontent.com/-8yGCBzF9F_s/XCHzZ5t7sJI/AAAAAAAAAlA/fnnU7Cma8UM9oE9ztOtlcqFs_aZiRI-aQCK8BGAs/s0/2018-12-25.jpg) center center no-repeat/cover;
}
